<div class="container">
  <div class="card columns p-4 is-light mt-4">
    <div class="column is-5">
      <h1 class="title is-1">Agilice el proceso de gestión de gastos</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
        aspernatur ipsum minima pariatur soluta cumque similique excepturi quos,
        illo atque qui molestias quam, iure rem totam repudiandae inventore enim
        assumenda aut nam dolore doloremque ad quas? Odio sequi dicta nam illo,
        doloribus in quibusdam obcaecati excepturi corrupti assumenda nisi fuga?
      </p>
      <div
        class="is-flex is-justify-content-space-around is-align-content-center mt-3"
      >
        <a href="" class="button is-primary"><strong>Comenzar!</strong> </a>
        <a  class="button is-dark" routerLink="/dashboard" routerLinkActive="active"><strong>Iniciar Sesión</strong></a>
      </div>
    </div>
    <div
      class="column is-7 is-flex is-justify-content-center is-align-content-center"
    >
      <img
        src="/assets/images/finanzas.png"
        alt=""
        width="400px"
        height="400px"
      />
    </div>
  </div>
  <div class="card columns is-multiline p-4 mt-4 ">
    <div class="column is-12">
      <h3 class="title">Funcionalidades</h3>
      <p class="has-text-primary-dark">
        Explora todas la Funcionalidades que te permitirán una mejor
        organización y control de tus finanzas
      </p>
      <div class="columns is-multiline is-mobile mt-2">
        <div class="column is-one-quarter-desktop is-full-mobile ">
          <div class=" card is-card-bg-primary p-2">
            <div class="is-flex is-flex-direction-row is-justify-content-space-between p-2">
                <p class="title is-6 is-uppercase">Registra gastos e ingresos</p>
                <i class="fa-solid fa-hand-holding-dollar "></i>
            </div>
            <div class="card-content">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Suscipit, ratione!
            </div>
          </div>
        </div>

        <div class="column is-one-quarter-desktop is-full-mobile ">
            <div class=" card is-card-bg-warnning p-2">
              <div class="is-flex is-flex-direction-row is-justify-content-space-between p-2">
                  <p class="title is-6 is-uppercase">Visualiza gráficamente ingresos y gráficos </p>
                  <i class="fa-solid fa-chart-line"></i>
              </div>
              <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Suscipit, ratione!
              </div>
            </div>
          </div>

          <div class="column is-one-quarter-desktop is-full-mobile">
            <div class=" card is-card-bg-warnning p-2">
              <div class="is-flex is-flex-direction-row is-justify-content-space-between p-2">
                  <p class="title is-6 is-uppercase">Organiza tu dinero en diferentes cuentas </p>
                  <i class="fa-solid fa-wallet "></i>
              </div>
              <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Suscipit, ratione!
              </div>
            </div>
          </div>

          <div class="column is-one-quarter-desktop is-full-mobile">
            <div class=" card is-card-bg-warnning p-2">
              <div class="is-flex is-flex-direction-row is-justify-content-space-between p-2">
                  <p class="title is-6 is-uppercase">Administra eficazmente tus tarjetas</p>
                  <i class="fa-solid fa-credit-card "></i>
              </div>
              <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Suscipit, ratione!
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
