<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-" routerLink="/">
      <img src="/assets/images/ICON.png" class="logo" />
      <p class="title is-5">&nbsp;Control de Gastos</p>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Registrarse</strong>
          </a>
          <a class="button is-light">
            <strong>Iniciar Sesión</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
